---
import AutoSuggestSection from "@components/AutoSuggest/AutoSuggestSection.astro";
import Main from "@components/Main.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Autosuggest Input">
  <Main>
    <AutoSuggestSection />
  </Main>
</Layout>
