---
import CookiesPopupSection from "@components/CookiesPopup/CookiesPopupSection.astro";
import Main from "@components/Main.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Cookies Popup">
  <Main>
    <CookiesPopupSection />
  </Main>
</Layout>
