---
import Main from "@components/Main.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="TS - Challenge">
  <Main>
    <section class="flex items-center justify-center">
      <div>
        <h1 class="font-bold text-white text-4xl">Challenges</h1>
        <ul class="mt-4 text-xl text-white">
          <li>
            <a href="/challenges/smart-textarea" class="underline"
              >Smart Textarea</a
            >
          </li>
          <li>
            <a href="/challenges/dropdown" class="underline"
              >Dropdown Component</a
            >
          </li>
          <li>
            <a href="/challenges/autosuggest-input" class="underline"
              >Autosuggest Input</a
            >
          </li>
          <li>
            <a href="/challenges/cookies-popup" class="underline"
              >Cookies Pop-up</a
            >
          </li>
        </ul>
      </div>
    </section>
  </Main>
</Layout>
