---
import Main from "@components/Main.astro";
import SmartAreaSection from "@components/SmartTextarea/SmartAreaSection.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Smart Textarea">
  <Main>
    <SmartAreaSection />
  </Main>
</Layout>
