<main class="bg-gradient-to-br from-[#0093E9] to-[black] bg-fixed">
  <slot />
</main>
<script src="@scripts/viewport-height.ts"></script>
<style>
  main :global(section) {
    min-height: var(--vh, 100svh);
    position: relative;
    padding: 2.5rem 1rem;
    &::before {
      content: attr(id);
      position: absolute;
      top: 28%;
      text-transform: lowercase;
      font-weight: 900;
      opacity: 0.3;
      font-size: clamp(2rem, 9vw + 1rem, 9rem);
      z-index: 0;
      pointer-events: none;
    }
  }
</style>
