<section class="flex items-center justify-center" id="dropdown">
  <div class="max-w-80 w-full text-[--text-color] space-y-4">
    <div class="flex text-white gap-5 relative">
      <label class="flex items-center gap-2 cursor-pointer" for="multi"
        ><input
          type="radio"
          name="option"
          id="multi"
          value="multi"
          class="peer absolute appearance-none"
        /><span
          class="select-none p-2 peer-checked:bg-black/40 peer-focus-visible:bg-black/40 peer-focus-visible:outline-white peer-focus-visible:outline rounded-md hover:bg-black/30"
          >Multi</span
        ></label
      >
      <label class="flex items-center gap-2 cursor-pointer" for="searchable"
        ><input
          type="radio"
          name="option"
          id="searchable"
          value="searchable"
          class="peer absolute appearance-none"
        /><span
          class="select-none p-2 peer-checked:bg-black/40 peer-focus-visible:bg-black/40 peer-focus-visible:outline-white peer-focus-visible:outline rounded-md hover:bg-black/30"
          >Searchable</span
        ></label
      >
      <button
        id="clear"
        class="p-2 bg-black/80 rounded-md border border-white/70"
        >Clear Selection</button
      >
    </div>
    <details class="relative">
      <summary
        class="rounded-[--border-radius] bg-[--bg-color] overflow-clip relative cursor-pointer"
        role="combobox"
        ><div class="flex p-2 gap-2">
          <input
            placeholder="Select..."
            type="text"
            id="dropdown__input"
            class="border-none outline-none bg-transparent pr-10 pointer-events-none block w-full"
          />
        </div></summary
      >
      <div
        class="rounded-[--border-radius] bg-[--bg-color] absolute w-full mt-2"
      >
        <ul role="listbox" tabindex="0">
          <!-- <li
            role="option"
            aria-selected="false"
            class="py-2 px-4 cursor-pointer hover:bg-black/10"
            data-value="Option 1"
          >
            Option 1
          </li>-->
        </ul>
      </div>
    </details>
  </div>
</section>
<style>
  #dropdown {
    --border-radius: 0.5rem;
    --bg-color: #fafafa;
    --text-color: #0a0a0a;
    --accent-color: #3b82f6;
  }
  summary {
    list-style: none;
    &::marker {
      display: none;
      appearance: none;
    }
    &::after {
      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' d='M7.41 8.58L12 13.17l4.59-4.59L18 10l-6 6l-6-6z'/%3E%3C/svg%3E");
      position: absolute;
      pointer-events: none;
      right: 1rem;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  input {
    color: var(--text-color);
  }
  input::placeholder {
    color: inherit;
  }
  input[placeholder="Select..."].searchable::placeholder {
    color: #9ca3af;
  }
  :global(li[aria-selected="true"]) {
    background-color: rgba(0, 0, 0, 0.1);
  }
</style>
<script src="@scripts/dropdown.ts"></script>
