<section class="flex items-center justify-center" id="auto-suggest">
  <div class="max-w-96 w-full relative">
    <search class="relative"
      ><input
        type="search"
        placeholder="Search for location..."
        name="Search"
        id="search-input"
        class="block w-full p-2 rounded-md"
      />
    </search>
  </div>
</section>
<script src="@scripts/autosuggest.ts"></script>
